<h1>page#show</h1>
<%= show_tree(@page) if @page.has_children? %>

<h1><%= @page.title %></h1>
 <p><%= markdown(@page) %></p></br>

			<%= link_to 'Add subpage', new_subpage_path(parent_id: @page.id) %> |
			<%= link_to 'Update page', edit_subpage_path(@page)%> |
			<%= link_to 'Main', pages_path%>
